html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Check out my Profile and Facebook Page
        p
          a.btn.btn-primary(href="https://www.linkedin.com/in/tanvir-ahmed-du/" target="_blank") Linkedin Profile

          a.btn.btn-outline-primary(href="https://www.facebook.com/profile.php?id=61576016095182" target="_blank") Facebook Page

          a.btn.btn-primary(href="https://www.du.ac.bd/faculty/faculty_details/ictcell/2751" target="_blank") Office Profile
          
        p
        p Thank you so much for joining with us.

